@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,500;1,500&display=swap');

.body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.form-label{
    color: white;
}
.mb-3{
    margin: 0 auto;
    max-width: 60%;
}
#exampleFormControlTextarea1 {
    resize: vertical;
}
.form-button {
    border-radius: 10px;
    color: white;
    border: none;
    min-height: 30px;
    min-width: 120px;
}
.form-control {
    margin: 0 auto;
    max-width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}
