@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&family=Roboto+Condensed:ital@0;1&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #191b1e;
    margin: 0;
    padding: 0;
}

.profile-block {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(145, 154, 161, 0.4);
    -moz-box-shadow: 0px 1px 8px 0px rgba(145, 154, 161, 0.4);
    box-shadow: 0px 1px 8px 0px rgba(145, 154, 161, 0.4);
    color: white;
}

.profile {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.profilepicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 20px;
  background-color: #ccc;
}

.profilename {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.profileinfo {
  font-size: 16px;
  text-align: center;
}

.profiledetails {
  margin-top: 30px;
}

.profiledetails dl {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.profiledetails dt {
  font-weight: bold;
}

.profiledetails dd {
  margin-left: 10px;
}
