@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&family=Roboto+Condensed:ital@0;1&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;}

.movie-rooms{
    max-width: 1300px;
    margin: 0 auto;
    color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(145, 154, 161, 0.4);
    -moz-box-shadow: 0px 1px 8px 0px rgba(145, 154, 161, 0.4);
    box-shadow: 0px 1px 8px 0px rgba(145, 154, 161, 0.4);
    padding: 10px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    font-size: 20px;
}
.movie-empty {
    display: block;
    max-width: 1300px;
    padding-left: 20px;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 25px;
}