{% extends 'base.html' %}

{% block title %}
KinBu
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
    <style>
        .form-control{
            margin: 0px;}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/support.css') }}">
    <form method="post" class="form-group">
        <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Введите адрес электронной почты</label>
              <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Введите тему вопроса</label>
              <textarea class="form-control" name="subject"  id="exampleFormControlTextarea1" rows="1"></textarea>
        </div>
        <div class="mb-3">
              <label for="exampleFormControlTextarea2" class="form-label">Введите ваш вопрос</label>
              <textarea class="form-control" name="body" id="exampleFormControlTextarea2" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <button class="form-button bg-primary" type='submit'>
                Отправить
            </button>
        </div>
    </form>
{% else %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center ">
          <h1 class="text-white display-4 fw-normal text-body-emphasis">Извините.</h1>
          <p class="text-white fs-5 text-body-secondary">Зарегистрируйтесь чтобы использовать поддержку.</p>
          <a class="text-white me-3 py-2 link-body-emphasis text-decoration-none" href="/login">Войти в аккаунт</a>
        </div>
{% endif %}
{% endblock %}